<div id="<%= dom_id extract %>">
  <p>
    <strong>Amount:</strong>
    <%= extract.amount %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= extract.entry_type %>
  </p>

  <p>
    <strong>Wallet:</strong>
    <%= extract.wallet_id %>
  </p>

</div>
