<div id="<%= dom_id extract %>">
  <p>
    <strong>Name:</strong>
    <%= extract.wallet.user.user_name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= extract.value %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= extract.transaction_type %>
  </p>

</div>
